.messageContainers1{
    width: 100%;
    height: 100%;
    background-color: #F9FCF8;
    display: flex;
    flex-direction: column;
}
.messageBoxWithMessageOuter1{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.messageBoxWithMessageOuter2{
    background-color: transparent;
    display: flex;
    flex-direction: row;
}
.messageBoxWithMessage{
    margin-top: 20px;
    width:auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #03373B;
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 500;
    max-width: 400px;
    word-wrap: break-word;
    box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.33) inset;
    padding-left: 12px;
    padding-right: 12px;
}
.hisMesage{
    margin-left: 50px;
    align-items: flex-end;
    border-radius: 0px 13px 13px 13px;
    background: rgba(83, 166, 116, 0.61);
}
.myMesage{
    margin-right: 50px;
    justify-content: flex-end;
    border-radius: 13px 0px 13px 13px;
    background: #D4E4D3;
}
.timeBoxOuter1{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.timeArea1{
    margin-right: 65px;
    background-color: #F9FCF8;
    color: #03373B;
    font-size: 11px;
    font-family: Montserrat;
    font-weight: 500;
    margin-top: 5px;
}
.timeArea2{
    margin-left: 65px;
    background-color: #F9FCF8;
    color: #03373B;
    font-size: 11px;
    font-family: Montserrat;
    font-weight: 500;
    margin-top: 5px;
}

@media only screen and (max-width:400px){
    .messageBoxWithMessage{
        font-size: 12px;
        max-width: 200px;
    }
    .timeArea1{
        font-size: 10px;
    }
    .timeArea2{
        font-size: 10px;
    }
    .hisMesage{
        margin-left: 35px;
    }
    .myMesage{
        margin-right: 35px;
    }
}
@media only screen and (max-width:290px){
    .messageBoxWithMessage{
        font-size: 12px;
        max-width: 140px;
    }
    .timeArea1{
        font-size: 10px;
    }
    .timeArea2{
        font-size: 10px;
    }
    .hisMesage{
        margin-left: 20px;
    }
    .myMesage{
        margin-right: 20px;
    }
}
@media only screen and (max-width:210px){
    .messageBoxWithMessage{
        font-size: 8px;
        max-width: 80px;
    }
    .timeArea1{
        font-size:6px;
    }
    .timeArea2{
        font-size: 6px;
    }
    .hisMesage{
        margin-left: 10px;
    }
    .myMesage{
        margin-right: 10px;
    }
}
@media only screen and (max-width:900px){
    .messageBoxWithMessage{
        font-size: 13px;
        max-width: 300px;
    }
    .timeArea1{
        font-size: 10px;
    }
    .timeArea2{
        font-size: 10px;
    }
    .hisMesage{
        margin-left: 35px;
    }
    .myMesage{
        margin-right: 35px;
    }
}
@media only screen and (max-width:760px){
    .messageBoxWithMessage{
        font-size: 13px;
        max-width: 200px;
    }
    .timeArea1{
        font-size: 10px;
    }
    .timeArea2{
        font-size: 10px;
    }
    .hisMesage{
        margin-left: 35px;
    }
    .myMesage{
        margin-right: 35px;
    }
}