* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #D4E4D3;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
  
#root{
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.mainBody{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}