.container_12 {
    text-align: center;
    background-color: #F9FCF8;
  }
  .toggle-switch_12 {
    position: relative;
    width: 250px;
    display: inline-block;
    text-align: left;
    top: 8px;
    background-color: transparent;
  }
  .checkbox_12 {
    background-color: transparent;
    display: none;
  }
  .label_12 {
    background-color: transparent;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid  #03373B;
    border-radius: 10px;
  }
  .inner_12 {
    background-color: transparent;
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    font-size: 16px;
  }
  .inner_12:before,
  .inner_12:after {
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    color: #F9FCF8;
    font-weight: bold;
    box-sizing: border-box;
  }
  .inner_12:before {
    content: "Log In";
    padding-left: 30px;
    background-color:  #03373B;
    color: #F9FCF8;
  }
  .inner_12:after {
    content: "Sign Up";
    padding-right: 30px;
    background-color:  #03373B;
    color: #F9FCF8;
    text-align: right;
  }
  .switch_12 {
    background-color: transparent;
    display: block;
    width: 125px;
    margin: 5px;
    background: #F9FCF8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 115px;
    border: 0 solid #F9FCF8;
    border-radius: 7px;
    transition: all 0.3s ease-in 0s;
  }
  .checkbox_12:checked + .label_12 .inner_12 {
    margin-left: 0;
  }
  .checkbox_12:checked + .label_12 .switch_12 {
    right: 0px;
  }
  @media only screen and (max-width:450px) {
    .toggle-switch_12 {
      width: 170px;
    }
    .inner_12 {
      width: 200%;
      font-size: 13px;
    }
    .inner_12:before {
      padding-left: 21px;
    }
    .inner_12:after {
      padding-right: 13px;
    }
    .switch_12 {
      width: 85px;
      margin: 5px;
      right: 75px;
    }   
}
@media only screen and (max-width:250px) {
  .toggle-switch_12 {
    width: 110px;
  }
  .inner_12 {
    width: 200%;
    font-size: 11px;
  }
  .inner_12:before {
    padding-left: 21px;
  }
  .inner_12:after {
    padding-right: 13px;
  }
  .switch_12 {
    width: 27px;
    margin: 5px;
    right: 73px;
  }   
}