.userIconMainBodyFocus_1{
    width: 80%;
    height: 65px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    border-style: none;
    background-color: transparent;
}

.userProfilePicture_1{
    background-color: transparent;
    aspect-ratio: 1/1;
    height: 100%;
}

.profilePicture_1{
    height: 65%;
    width: 65%;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #03373B;
}

.nameAndInfo_1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-left: 17px;
}

.userName_1{
    background-color: transparent;
    width: 120px;
    flex:1;
}
.userNameInfo_1{
    background-color: transparent;
    text-align: left;
    padding-top: 27px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 0px;
}

.description_1{
    background-color: transparent;
    width: 100%;
    flex:1;
    text-align: left;
}
.descriptionInfo_1{
    padding-top: 5px;
    background-color: transparent;
    color: #727472;
    font-size: 8px;
    font-family: Montserrat;
    font-weight: 600;
}

.userLogLine_1{
    width: 80%;
    height: 2px;
    margin-top: 19px;
    background-color: #727472;
    opacity: 0.2;
}

.acceptReject_1{
    height: 100%;
    background-color: transparent;
    aspect-ratio: 2/1;
}
.tickIcon_1{
    height: 100%;
    background-color: transparent;
}
.tickIconButton_1{
    margin-top: 10px;
    background-color: transparent;
    height:65%;
    border-radius: 20px;
    border-style: none;
}
.tickIconButton_1:hover{
    border-style:solid;
    border-color: #03373B;
}
.cancelIcon_1{
    height: 100%;
    background-color: transparent;
}
.cancelIconButton_1{
    margin-left: 5px;
    margin-top: 10px;
    background-color: transparent;
    height:65%;
    border-radius: 20px;
    border-style: none;
}
.cancelIconButton_1:hover{
    border-style:solid;
    border-color: #03373B;
}
.accept{
    background-color: transparent;
}


.userIconMainBodyFocus_2{
    width: 80%;
    height: 65px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    border-style: none;
    background-color: transparent;
}

.userProfilePicture_2{
    background-color: transparent;
    aspect-ratio: 1/1;
    height: 100%;
}

.profilePicture_2{
    height: 65%;
    width: 65%;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #03373B;
}

.nameAndInfo_2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-left: 20px;
}

.userName_2{
    background-color: transparent;
    width: 120px;
    flex:1;
}
.userNameInfo_2{
    background-color: transparent;
    text-align: left;
    padding-top: 27px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 0px;
}

.description_2{
    background-color: transparent;
    width: 100%;
    flex:1;
    text-align: center;
}
.descriptionInfo_2{
    padding-top: 5px;
    background-color: transparent;
    color: #727472;
    font-size: 8px;
    font-family: Montserrat;
    font-weight: 600;
}

.userLogLine_2{
    width: 80%;
    height: 2px;
    margin-top: 19px;
    background-color: #727472;
    opacity: 0.2;
}

.acceptReject_2{
    height: 100%;
    background-color: transparent;
    aspect-ratio: 1/1;
}
.plusIcon_2{
    height: 100%;
    background-color: transparent;
}
.plusIconButton_2{
    background-color: transparent;
    margin-top: 5px;
    height: 65%;
    width: 65%;
    border-radius: 50px;
    border-style: none;
}
.plusIconButton_2:hover{
    border-style:solid;
    border-color: #03373B;
}
.accept_2{
    background-color: transparent;
}




.userIconMainBodyFocus_3{
    width: 80%;
    height: 65px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    border-style: none;
    background-color: transparent;
}

.userProfilePicture_3{
    background-color: transparent;
    aspect-ratio: 1/1;
    height: 100%;
}

.profilePicture_3{
    height: 65%;
    width: 65%;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #03373B;
}

.nameAndInfo_3{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-left: 17px;
}

.userName_3{
    background-color: transparent;
    width: 120px;
    flex:1;
}
.userNameInfo_3{
    background-color: transparent;
    text-align: left;
    padding-top: 27px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 0px;
}

.description_3{
    background-color: transparent;
    width: 100%;
    flex:1;
    text-align: left;
}
.descriptionInfo_3{
    padding-top: 5px;
    background-color: transparent;
    color: #727472;
    font-size: 8px;
    font-family: Montserrat;
    font-weight: 600;
}

.userLogLine_3{
    width: 60%;
    height: 2px;
    margin-top: 19px;
    background-color: #727472;
    opacity: 0.2;
}
