.userIconMainBodyNotFocus{
    width: 100%;
    height: 65px;
    border-radius: 20px;
    background-color:transparent;
    display: flex;
    flex-direction: row;
    border-style: none;
}
.userIconMainBodyNotFocus:hover{
    background-color:#efefef;
}

.userIconMainBodyFocus{
    margin-left: 8px;
    width: 95%;
    height: 65px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    border-style: none;
}

.userProfilePicture{
    background-color: transparent;
    aspect-ratio: 1/1;
    height: 100%;
}

.activeOrNot{
    position: absolute;
    height:8px;
    width: 8px;
    border-radius: 5px;
    margin-top: 16px;
    margin-left: 45px;
    z-index: 1;
}

.grn{
    background-color: #A5CF96;
}
.red{
    background-color: #E08080;
}

.profilePicture{
    height: 65%;
    width: 65%;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #03373B;
}

.nameAndInfo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-left: 10px;
}

.userName{
    background-color: transparent;
    width: 100%;
    flex:1;
}
.userNameInfo{
    background-color: transparent;
    text-align: left;
    padding-top: 27px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 0px;
}

.description{
    background-color: transparent;
    width: 100%;
    flex:1;
    text-align: left;
}
.descriptionInfo{
    padding-top: 5px;
    background-color: transparent;
    color: #727472;
    font-size: 8px;
    font-family: Montserrat;
    font-weight: 600;
}

.userLogLine{
    width: 75%;
    margin-top: 15px;
    height: 1px;
}

.darkText{
    color: #03373B;
}
.darkBackground{
    background-color: #03373B;
}
.lightText{
    color: #dfe1de;
}

@media only screen and (max-width:400px){
    .userIconMainBodyNotFocus{
        height: 60px;
    }
    
    .userIconMainBodyFocus{
        height: 60px;
    }
    .userNameInfo{
        font-size: 16px;
    }
}
@media only screen and (max-width:270px){
    .userIconMainBodyNotFocus{
        height: 50px;
    }
    
    .userIconMainBodyFocus{
        height: 50px;
    }
    .userNameInfo{
        font-size: 13px;
    }
}