.loginNSignupMainBody{
    width:100%;
    flex : 1;
}
.mainBoxLoginArea{
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 55px;
    border-radius: 20px;
    height:80%;
    width:420px;
    background-color: #F9FCF8;
    justify-content: center;
}

.welcomeBack{
    width:100%;
    height:80px;
    background-color: transparent;
    text-align: center;
    color: #03373B;
    color: #03373B;
    text-align: center;
    font-size: 34px;
    font-family: Montserrat;
    font-weight: 600;
    padding-top: 20px;
}

.loginNSignupOption{
    width:100%;
    height:62px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.loginNsignupButtonArea{
    width:250px;
    height: 35px;
}

.userNameLoginPage{
    width:100%;
    height:50px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.userNameInputBox{
    height:35px;
    width: 250px;
    border-radius: 10px;
    display: inline-block;
    background-color: #F9FCF8;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.28) inset;
    border-style: none;
    padding-left: 20px;
    margin: 8px 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
}
.userNameInputBox:focus{
    outline: none;
}

.passwordLoginPage{
    width:100%;
    height:50px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.passwordInputBox{
    height:35px;
    width: 250px;
    border-radius: 10px;
    display: inline-block;
    background-color: #F9FCF8;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.28) inset;
    border-style: none;
    padding-left: 20px;
    margin: 8px 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600
}
.passwordInputBox:focus{
    outline: none;
}

.enterLoginPage{
    margin-top: 6px;
    width:100%;
    height:50px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.enterButton{
    height:35px;
    width: 250px;
    border-radius: 10px;
    border-style: none;
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    color: #03373B;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.25) inset;
}